.catalog {
  padding: 50px 0;
}

.catalog .catalogTop .filterBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .catalogTop .filterBtn .filter {
  margin: 0;
  padding: 12px 30px;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 16px #1d39a914 !important;
  box-shadow: 0 3px 16px #1d39a914 !important;
  background-color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  color: #e31e24;
  display: none;
}

@media (max-width: 992px) {
  .catalog .catalogTop .filterBtn .filter {
    display: block;
    padding: 12px 27px;
  }
}

@media (max-width: 992px) {
  .catalog .catalogTop .filterBtn {
    padding-bottom: 10px;
  }
}

.catalog .catalogTop h1 {
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .catalog .catalogTop h1 {
    font-size: 30px;
    margin-bottom: 0;
  }
}

.catalog .catalogTop .line {
  width: 100%;
  height: 1px;
  background-color: #eceef4;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .catalog .catalogTop .line {
    display: none;
  }
}

.catalog .catalogMain .close {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.catalog .catalogMain .leftCards {
  border-radius: 16px;
  margin-bottom: 50px;
}

.catalog .catalogMain .leftCards a {
  padding: 15px 15px 19px;
  font-size: 15px;
  font-weight: 500;
  color: #282830;
  border-bottom: 1px solid rgba(40, 40, 48, 0.1);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.catalog .catalogMain .leftCards a:first-child {
  border-radius: 16px 16px 0 0;
}

.catalog .catalogMain .leftCards a:last-child {
  border-radius: 0 0 16px 16px;
}

.catalog .catalogMain .leftCards a i {
  color: #8f8f8f;
  font-size: 14px;
}

.catalog .catalogMain .leftCards a.active, .catalog .catalogMain .leftCards a:hover {
  color: #00C65E;
}

.catalog .catalogMain .leftCards a.active i, .catalog .catalogMain .leftCards a:hover i {
  color: #00C65E;
}

.catalog .catalogMain .leftCatalog {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.catalog .catalogMain .leftCatalog .close {
  display: none;
}

@media (max-width: 992px) {
  .catalog .catalogMain .leftCatalog .close {
    display: block;
  }
}

.catalog .catalogMain .leftCatalog::-webkit-scrollbar {
  width: 5px;
}

.catalog .catalogMain .leftCatalog::-webkit-scrollbar-track {
  background: transparent;
}

.catalog .catalogMain .leftCatalog::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 15px;
}

.catalog .catalogMain .leftCatalog h2 {
  font-size: 24px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 20px;
}

.catalog .catalogMain .leftCatalog .inputWrap {
  margin-bottom: 40px;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap {
  padding: 10px 5px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
  border-radius: 16px;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap.myShadow {
  -webkit-box-shadow: 1px 2px 6px #0072ff40;
  box-shadow: 1px 2px 6px #0072ff40;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap label {
  margin-right: 6px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #c5c9d2;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap input {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #282830;
  border: none;
  outline: 0 !important;
  padding: 0;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap input::-webkit-input-placeholder {
  color: #8c8ca0;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap input:-ms-input-placeholder {
  color: #8c8ca0;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap input::-ms-input-placeholder {
  color: #8c8ca0;
}

.catalog .catalogMain .leftCatalog .inputWrap .wrap input::placeholder {
  color: #8c8ca0;
}

.catalog .catalogMain .leftCatalog .inputWrap h3 {
  font-size: 24px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 20px;
}

.catalog .catalogMain .leftCatalog .checkWrap {
  padding: 20px 24px;
  margin-bottom: 40px;
  border-radius: 16px;
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 2px 6px #0072ff40;
  box-shadow: 1px 2px 6px #0072ff40;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog .catalogMain .leftCatalog .checkWrap .collapse.show ~ p span:first-child {
  display: none;
}

.catalog .catalogMain .leftCatalog .checkWrap .collapse.show ~ p span:last-child {
  display: block;
}

.catalog .catalogMain .leftCatalog .checkWrap p {
  padding-top: 12px;
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #241cf0;
  cursor: pointer;
}

.catalog .catalogMain .leftCatalog .checkWrap p span:last-child {
  display: none;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap {
  border-bottom: 1px solid rgba(40, 40, 48, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap input {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: -100%;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap input:checked ~ label::before {
  background-color: #00C65E;
  border-color: #00C65E;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap input:checked ~ label span {
  opacity: 1;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap label {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  padding-left: 26px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  display: inline;
  margin-bottom: 0;
  display: inline-block;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap label span {
  position: absolute;
  color: #fff;
  opacity: 0;
  left: 3px;
  font-size: 12px;
  top: 3px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap label::before {
  content: '';
  border-radius: 5px;
  border: 1px solid #c5c9d2;
  top: 5px;
  width: 16px;
  height: 16px;
  display: block;
  left: 0px;
  top: 3px;
  position: absolute;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.catalog .catalogMain .leftCatalog .checkWrap .wrap:last-child {
  border-bottom: 0;
}

@media (max-width: 992px) {
  .catalog .catalogMain .leftCatalog {
    position: fixed;
    z-index: 9999;
    background: #fff;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    padding: 30px 15px;
    left: -100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding-top: 50px !important;
  }
  .catalog .catalogMain .leftCatalog.active {
    left: 0;
  }
}

.catalog .catalogMain .rightCatalog .top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .catalogMain .rightCatalog .top h3 {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h2 {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h6 {
  cursor: pointer;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 18px;
  font-size: 16px;
  font-weight: 600;
  color: #00C65E;
  margin: 0;
  position: relative;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h6 .myShadow {
  width: 200px;
  position: absolute;
  top: -12px;
  left: 0px;
  opacity: 1;
  border-radius: 12px;
  padding: 8px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 10px;
  z-index: 999;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h6 .myShadow h5 {
  font-size: 14px;
  font-weight: 500;
  color: #282830;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  border-radius: 8px;
  margin-bottom: 8px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  padding: 10px 5px;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h6 .myShadow h5:last-child {
  margin-bottom: 0;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h6 .myShadow h5.active, .catalog .catalogMain .rightCatalog .top .wrapDiv h6 .myShadow h5:hover {
  background: #00C65E;
  color: #fff;
}

.catalog .catalogMain .rightCatalog .top .wrapDiv h6:hover .myShadow {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 992px) {
  .catalog .catalogMain .rightCatalog .top {
    display: none;
  }
}

.catalog .catalogMain .rightCatalog .myCol {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .catalog .catalogMain .rightCatalog .myCol {
    margin-bottom: 15px;
    padding: 10px;
  }
}

.catalog .catalogMain .rightCatalog .myCard {
  padding: 20px 12px;
  border-radius: 16px;
  background: #fff;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
}

.catalog .catalogMain .rightCatalog .myCard .images {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard .images {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.catalog .catalogMain .rightCatalog .myCard h5 {
  color: rgba(40, 40, 48, 0.5);
  font-weight: 600;
  margin-top: 20px;
  font-size: 15px;
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard h5 {
    font-size: 10px;
    margin-top: 16px;
  }
}

.catalog .catalogMain .rightCatalog .myCard h4 {
  font-weight: bold;
  color: #00C65E;
  font-size: 17px;
  margin: 20px 0 14px;
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard h4 {
    font-size: 11px;
    margin: 10px 0;
  }
}

.catalog .catalogMain .rightCatalog .myCard p {
  font-size: 14px;
  height: 42px;
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard p {
    font-size: 9px;
  }
}

.catalog .catalogMain .rightCatalog .myCard .line {
  margin: 35px 0 19px;
  width: 100%;
  height: 1px;
  background-color: rgba(40, 40, 48, 0.1);
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard .line {
    margin: 12px 0;
  }
}

.catalog .catalogMain .rightCatalog .myCard h3 {
  font-weight: 500;
  color: #282830;
  font-size: 15px;
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard h3 {
    font-size: 10px;
  }
}

.catalog .catalogMain .rightCatalog .myCard .heart i {
  width: 15px;
  height: 15px;
}

.catalog .catalogMain .rightCatalog .myCard:hover {
  -webkit-box-shadow: 2px 3px 10px #0072ff40;
          box-shadow: 2px 3px 10px #0072ff40;
}

@media (max-width: 576px) {
  .catalog .catalogMain .rightCatalog .myCard {
    height: initial;
  }
}

@media (max-width: 767px) {
  .catalog {
    padding: 25px 0;
  }
}
/*# sourceMappingURL=catalog.css.map */