.oferta {
  padding-top: 48px;
  padding-bottom: 40px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: repeat;
  background-image: url(../../img/bgImage.svg);
}

.oferta .myCol {
  padding: 30px 60px;
  background: #fff0;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.oferta .myCol h1 {
  font-size: 44px;
  margin-bottom: 40px !important;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .oferta .myCol h1 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .oferta .myCol h1 {
    font-size: 24px;
  }
}

.oferta .myCol h6 {
  font-size: 18px;
  font-weight: 700;
  color: #282830;
  line-height: 20px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .oferta .myCol h6 {
    font-size: 16px;
  }
}

.oferta .myCol p {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  line-height: 20px;
  margin-bottom: 16px;
  padding-left: 12px;
}

@media (max-width: 767px) {
  .oferta .myCol p {
    padding: 0;
  }
}

.oferta .myCol h5 {
  font-size: 16px;
  font-weight: 700;
  color: #282830;
  line-height: 20px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .oferta .myCol h5 {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .oferta .myCol {
    padding: 30px;
  }
}

@media (max-width: 992px) {
  .oferta .myCol {
    padding: 30px 15px;
  }
}

@media (max-width: 767px) {
  .oferta .container {
    padding: 0 35px;
  }
}

@media (max-width: 992px) {
  .oferta {
    padding-top: 35px;
  }
}

@media (max-width: 767px) {
  .oferta {
    padding-top: 0px;
  }
}

.cooperation {
  padding-bottom: 130px;
  padding-top: 50px;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: repeat;
  background-image: url(../../img/bgImage.svg);
}

.cooperation h1 {
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .cooperation h1 {
    font-size: 22px;
    text-align: left;
    margin-bottom: 24px;
    line-height: 28px;
    font-weight: 600;
  }
}

.cooperation h5 {
  margin-bottom: 60px;
  opacity: .8;
  font-size: 18px;
  font-weight: 500;
  color: #282830;
}

@media (max-width: 767px) {
  .cooperation h5 {
    text-align: left !important;
    margin-bottom: 30px;
  }
}

.cooperation .myRow {
  margin-top: 130px;
}

@media (max-width: 767px) {
  .cooperation .myRow {
    margin-top: 70px;
  }
}

.cooperation .cards {
  padding: 40px 52px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 30px;
  position: relative;
}

.cooperation .cards h2 {
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 600;
}

.cooperation .cards .girl {
  position: absolute;
  right: 30px;
  bottom: 0;
}

@media (max-width: 767px) {
  .cooperation .cards .girl {
    display: none;
  }
}

.cooperation .cards h1 {
  margin-bottom: 42px;
  font-size: 34px;
  line-height: 42px;
  text-align: left;
}

@media (max-width: 767px) {
  .cooperation .cards h1 {
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .cooperation .cards h1 {
    font-size: 24px;
  }
}

.cooperation .cards .myBtn {
  padding: 24px 34px;
  font-size: 22px;
  line-height: 27px;
  background: #00C65E;
  border-radius: 24px;
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff;
  margin-bottom: 0;
}

.cooperation .cards .myBtn:hover {
  color: #00C65E;
  background-color: #fff;
  border-color: #00C65E;
}

@media (max-width: 767px) {
  .cooperation .cards .myBtn {
    font-size: 18px;
    padding: 16px 25px;
  }
}

.cooperation .cards .myCol {
  margin-top: 32px;
  height: 100%;
}

.cooperation .cards .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  font-size: 20px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #00C65E;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .cooperation .cards .number {
    width: 50px;
    height: 50px;
  }
}

.cooperation .cards p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(40, 40, 48, 0.8);
  line-height: 24px;
}

.cooperation .cards a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-bottom: 0.2px solid transparent;
}

.cooperation .cards a:hover {
  border-color: #007bff;
}

.cooperation .cards .a {
  border: 1px solid #00c65c81 !important;
  color: #00C65E !important;
  border-radius: 16px;
  padding: 11px 34px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #00C65E;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cooperation .cards .a i {
  margin-right: 8px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-size: 20px;
  margin-top: 2px;
}

.cooperation .cards .a:hover {
  background-color: #00C65E;
  color: #fff !important;
}

.cooperation .cards .a:hover i {
  color: #fff;
}

@media (max-width: 992px) {
  .cooperation .cards {
    padding: 30px 42px;
  }
}

@media (max-width: 767px) {
  .cooperation .cards {
    padding: 0 15px 15px;
  }
}

@media (max-width: 767px) {
  .cooperation {
    padding: 20px 0;
  }
}

.application {
  margin-top: 60px;
}

.application .btn {
  display: block;
  color: #fff;
  background-color: #00C65E;
  margin-left: auto;
  border-radius: 16px;
  padding: 23px 48px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .application .btn {
    width: 100%;
  }
}

.application .cards {
  padding: 60px;
}

@media (max-width: 767px) {
  .application .cards h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .application .cards {
    padding: 30px 15px;
  }
}

.application .inputWrap {
  position: relative;
}

.application .inputWrap .wrap {
  position: absolute;
  padding: 8px;
  max-height: 190px !important;
  width: 100%;
  background: red;
  left: 0;
  top: 40px;
  margin: 0;
  overflow-y: auto;
  background-color: #fff;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.application .inputWrap .wrap h6 {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px;
  color: #282830;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: 8px;
}

.application .inputWrap .wrap h6:last-child {
  margin-bottom: 0;
}

.application .inputWrap .wrap h6:hover, .application .inputWrap .wrap h6.active {
  background-color: #00C65E;
  color: #fff;
}

.application .inputWrap label {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 14px;
}

.application .inputWrap .fas {
  position: absolute;
  right: 21px;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.application .inputWrap span {
  position: absolute;
  top: 58%;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #282830;
}

.application .inputWrap .input {
  height: 63px;
  padding: 20px;
  border-radius: 12px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  line-height: 19px;
  cursor: pointer;
  border: 1px solid #eceef4;
  background-color: #fff;
  font-weight: 600;
}

.application .inputWrap .input::-webkit-input-placeholder {
  color: #282830;
  font-weight: 600;
}

.application .inputWrap .input:-ms-input-placeholder {
  color: #282830;
  font-weight: 600;
}

.application .inputWrap .input::-ms-input-placeholder {
  color: #282830;
  font-weight: 600;
}

.application .inputWrap .input::placeholder {
  color: #282830;
  font-weight: 600;
}

.application .inputWrap .input:focus {
  border-color: #00C65E;
}

.application .inputWrap .input:focus ~ .wrap {
  opacity: 1;
  z-index: 99;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.application .inputWrap #phone {
  padding-left: 65px;
}

.letterBg {
  background-image: url(../../img/chakana-letter.svg);
  background-repeat: no-repeat;
  background-position: top 60px right;
  background-size: 105px;
}

.howToSell {
  background-color: #FCFFFF;
  padding: 40px 0 100px;
}

.howToSell h1 {
  font-size: 44px;
  margin-bottom: 40px;
  letter-spacing: -1px;
  font-size: 34px;
}

@media (max-width: 992px) {
  .howToSell h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.howToSell .myAccardion .card {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.howToSell .myAccardion .card .card-header {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.howToSell .myAccardion .card .card-header h5 {
  font-size: 24px;
  cursor: pointer;
  color: #282830;
  font-weight: 600;
  padding: 34px 34px 34px 66px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howToSell .myAccardion .card .card-header h5 i {
  font-size: 20px;
  color: #282828;
}

@media (max-width: 992px) {
  .howToSell .myAccardion .card .card-header h5 i {
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .howToSell .myAccardion .card .card-header h5 {
    padding: 18px 20px;
  }
}

.howToSell .myAccardion .card .card-body {
  background-color: transparent;
  border: 0;
  padding: 0;
  padding: 0 54px 25px 66px;
}

.howToSell .myAccardion .card .card-body p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(40, 40, 48, 0.7);
  margin-bottom: 20px !important;
  padding-left: 45px;
}

.howToSell .myAccardion .card .card-body p:first-child {
  border-top: 1px solid #c0c0c070;
  padding-top: 15px;
}

.howToSell .myAccardion .card .card-body p.p {
  padding-left: 15px;
  position: relative;
}

.howToSell .myAccardion .card .card-body p.p:first-child::after {
  top: 25px;
}

.howToSell .myAccardion .card .card-body p.p::after {
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: silver;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .howToSell .myAccardion .card .card-body p {
    padding-left: 10px;
  }
}

@media (max-width: 992px) {
  .howToSell .myAccardion .card .card-body {
    padding: 13px 27px;
  }
}

.howToSell .leftCards {
  border-radius: 16px;
}

.howToSell .leftCards a {
  padding: 15px 15px 19px;
  font-size: 15px;
  font-weight: 500;
  color: #282830;
  border-bottom: 1px solid rgba(40, 40, 48, 0.1);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.howToSell .leftCards a:first-child {
  border-radius: 16px 16px 0 0;
}

.howToSell .leftCards a:last-child {
  border-radius: 0 0 16px 16px;
}

.howToSell .leftCards a i {
  color: #8f8f8f;
  font-size: 14px;
}

.howToSell .leftCards a.active, .howToSell .leftCards a:hover {
  color: #00C65E;
}

.howToSell .leftCards a.active i, .howToSell .leftCards a:hover i {
  color: #00C65E;
}

@media (max-width: 992px) {
  .howToSell {
    padding: 30px 0 0;
  }
}

.scoring {
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: repeat;
  background-image: url(../../img/bgImage.svg);
  padding-top: 60px;
  padding-bottom: 130px;
}

.scoring .cards {
  border-radius: 16px;
  padding: 40px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .scoring .cards {
    padding: 25px;
  }
}

.scoring .cards h1 {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 500;
  color: #282830;
  text-align: center;
}

@media (max-width: 992px) {
  .scoring .cards h1 {
    font-size: 29px;
  }
}

.scoring .cards label {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 14px;
  cursor: pointer;
}

.scoring .cards input {
  height: 63px;
  padding: 20px;
  border-radius: 12px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  line-height: 19px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  margin-bottom: 30px;
}

.scoring .cards .numberWrap {
  position: relative;
}

.scoring .cards .numberWrap .label {
  position: absolute;
  top: 58px;
  left: 21px;
}

.scoring .cards .numberWrap .label ~ input {
  padding-left: 62px;
}

.scoring .cards .a {
  color: #007bff;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.scoring .cards a {
  display: block;
}

.scoring .cards .main {
  padding: 23px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #00C65E;
  border-radius: 15px;
  margin: 15px;
  font-size: 18px;
}

.scoring .cards .main ~ a {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 16px;
  border: 1px solid #b3b3b352 !important;
  color: #8d8d8dc2;
  margin: 0 15px;
}

.scoring .cards .main ~ a:hover {
  color: #000;
  border-color: #000 !important;
}

.scoring .cards .checkWrap {
  margin-bottom: 40px;
}

.scoring .cards .checkWrap .collapse.show ~ p span:first-child {
  display: none;
}

.scoring .cards .checkWrap .collapse.show ~ p span:last-child {
  display: block;
}

.scoring .cards .checkWrap p {
  padding-top: 12px;
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #241cf0;
  cursor: pointer;
}

.scoring .cards .checkWrap p span:last-child {
  display: none;
}

.scoring .cards .checkWrap .wrap input {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: -100%;
}

.scoring .cards .checkWrap .wrap input:checked ~ label::before {
  background-color: #00C65E;
  border-color: #00C65E;
}

.scoring .cards .checkWrap .wrap input:checked ~ label span {
  opacity: 1;
}

.scoring .cards .checkWrap .wrap label {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  padding-left: 26px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  display: inline;
  margin-bottom: 0;
  display: inline-block;
}

.scoring .cards .checkWrap .wrap label a {
  color: #00C65E;
  display: contents;
}

.scoring .cards .checkWrap .wrap label span {
  position: absolute;
  color: #fff;
  opacity: 0;
  left: 4px;
  font-size: 12px;
  top: 3px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.scoring .cards .checkWrap .wrap label::before {
  content: '';
  border-radius: 5px;
  border: 1px solid #c5c9d2;
  top: 5px;
  width: 16px;
  height: 16px;
  display: block;
  left: 0px;
  top: 3px;
  position: absolute;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.scoring .cards .checkWrap .wrap:last-child {
  border-bottom: 0;
}

.cartPage {
  padding: 50px 0 80px;
}

.cartPage img {
  -webkit-animation: cart 5s linear infinite;
          animation: cart 5s linear infinite;
  width: 220px;
  height: 220px;
}

.cartPage h1 {
  font-size: 44px;
}

.cartPage .slash {
  margin-bottom: 10px;
}

.cartPage .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}

.cartPage p {
  width: 27%;
  text-align: center;
  margin-bottom: 30px;
}

.cartPage h2 {
  font-size: 24px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cartPage h2 ~ a {
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 15px 35px;
  background-color: #00C65E;
  text-align: center;
  border-radius: 13px;
}

@-webkit-keyframes cart {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(-30px, 0);
            transform: translate(-30px, 0);
  }
  60% {
    -webkit-transform: translate(40px, 0);
            transform: translate(40px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes cart {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  30% {
    -webkit-transform: translate(-30px, 0);
            transform: translate(-30px, 0);
  }
  60% {
    -webkit-transform: translate(40px, 0);
            transform: translate(40px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=third.css.map */